.data_analysis {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.data_analysis_intro {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 30px;
}

.data_analysis_results {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
}

.data_analysis_intro_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 520px;
    max-height: 500px;
    margin-left: 50px;
}

.data_analysis_intro_info_text {
    width: 500px;
    height: 320px;
    font-size: 1.1rem;
    text-align: justify;
    color: var(--textColor);
    margin: 15px 0px;
}

.data_analysis_intro_info_image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.data_analysis_intro_info_image {
    width: 100%;
    min-width: 300px;
    border-radius: 20px;
    max-height: 450px;
}

.data_analysis_intro_info_button {
    margin-top: 15px;
    background-color: var(--tertiaryColor);
    border: none;
    width: 160px;
    height: 42px;
    border-radius: 15px;
    color: var(--mainColor);
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.data_analysis_submit_button_container {
    display: flex;
    justify-content: center;
}

.data_analysis_submit_button {
    margin: 15px;
    background-color: var(--tertiaryColor);
    border: none;
    width: 160px;
    height: 42px;
    border-radius: 15px;
    color: var(--mainColor);
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.data_analysis_upload_info {
    margin: 25px;
}

@media only screen and (max-width: 980px) {
    .data_analysis_intro {
        flex-direction: column;
        align-items: center;
    }
    .data_analysis_intro_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;
        margin-bottom: 30px;
        margin-left: 0px;
    }
    .data_analysis_intro_info_text {
        width: 80%;
        height: auto;
        margin-bottom: 30px;
    }
    .data_analysis_intro_info_image {
        display: flex;
        width: 90%;
        max-width: 600px;
        min-width: 250px;
        margin: 0;
    }
}