.documentation {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.documentation_intro {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 70px;
}

.market_search_title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--tertiaryColor);
    margin: 0px 0px 0px 30px;
}

.market_search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.eng_soft_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.eng_soft_title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--tertiaryColor);
    margin-left: 30px;
}

.eng_soft_pipeline {
    margin-bottom: 50px;
    margin-top: 20px;
    width: 90%;
}

.eng_soft_github_actions {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 90%;
}

.market_search_container_image {
    max-width: 500px;
}

.documentation_intro_title {
    font-weight: bold;
    color: var(--secondaryColor);
}

.documentation_personas {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    flex-direction: column;
    margin: 30px;
}

.documentation_product_discovery_container {
    text-align: justify;
    margin: 30px;
}

.documentation_product_discovery_product_vision {
    width: 90%;
}

.documentation_product_discovery_itdoes {
    width: 90%;
}

.documentation_product_discovery_itdoes_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.documentation_bpmn {
    margin: 30px;
}

.documentation_bpmn_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

.documentation_bpmn_image {
    width: 90%;
}

.documentation_product_discovery_product_vision_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.documentation_personas_container_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 320px;
    text-align: justify;
    margin: 30px;
}

.documentation_objectives_container_text {
    text-align: justify;
    margin: 30px;
}

.documentation_personas_text {
    text-align: justify;
    margin-top: 20px;
}

.documentation_objectives_text {
    text-align: justify;
}

.documentation_personas_list {
    margin: 0px 30px;
}

.documentation_product_discovery_list {
    margin: 0px 30px;
}

.documentation_bpmn_title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--tertiaryColor);
    margin-left: 30px;
}

.documentation_personas_title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--tertiaryColor);
    margin-left: 30px;
}

.documentation_objectives {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    flex-direction: column;
    margin: 0px 20px;
}

.documentation_objectives_title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--tertiaryColor);
    margin-left: 30px;
}

.documentation_product_discovery_title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondaryColor);
    margin: 0px 0px 0px 30px;
}

.documentation_product_discovery_subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: var(--tertiaryColor);
    margin: 30px;
}

.documentation_product_discovery_description {
    text-align: justify;
    margin: 30px;
}

.documentation_intro_text {
    text-align: justify;
    margin: 30px;
}

.documentation_objectives_image {
    width: 90%;
}

.documentation_objectives_image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}

@media only screen and (max-width: 980px) {
    .documentation_intro {
        width: 90%;
    }
    .documentation_personas {
        width: 90%;
    }
    .documentation_objectives {
        width: 90%;
    }
    .documentation_description_main_title {
        font-size: 1rem;
    }
}