@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --mainColor: #ffffff;
    --secondaryColor: #002E61;
    --tertiaryColor: #0EB2E8;
    --quaternaryColor: #cdeff9;
    --textColor: #5c5f60;
}

h1 {
    font-size: 2.5rem;
    color: var(--secondaryColor);
}

p {
    color: var(--textColor);
}

li {
    color: var(--textColor);
}